header{
    width: 100%;
    background-color: rgba(25,23,49,255);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.navBar{
    margin: 10px;
}

.brand{
    display: inline-flex;
    align-items: center;
}

.brand label{
    font-size: 1.4em;
}

.menuButton{
    display: none;
    background-color: rgba(25,23,49,255);
    border: none;
}

.svgMenu{
    width: 2.6em;
    height: 2.6em;
    fill: white;
}

.navOptions{    
    display: inline-flex;
    gap: 2em;
    align-items: center;
    justify-content: flex-start;
    list-style: None;
    margin-right: 1.5em;
}

.navOptions a{
    transition: background-color 0.2s ease-in-out;
    padding: 1em;
    border-radius: 30px;
    font-size: 15px;
}

.navOptions a:hover{
    cursor: pointer;
    background-color: rgba(60,162,218,255);
}

.logo {
    height: 3em;
    padding: 0.5em 0.6em 0.5em 0.6em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.mainContent{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.infoDialog{
    background-color: white;
    border-radius: 40px;
    color: black;
    text-align: center;
    padding: 0.8em;
    position: absolute;
    width: 60%;
}

.infoDialog h1{
    /*font-size: xxx-large;*/
    font-size: 2.5em;
}

.parkingButton{
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(25,23,49,255);
    padding: 1em;
    margin-bottom: 0.5em;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    color: white;
}

.parkingButton:hover{
    cursor: pointer;
    background-color: rgba(60,162,218,255);
}

.infoDialog p{

    font-size: large;
}

.backgroundImage{
    width: 100%;
    height: fit-content;
}

footer{
    background-color: rgba(25,23,49,255);
    padding: 0.1em;
    text-align: center;
}

@media (max-width: 999px){
    .infoDialog h1{
        font-size: 2em;
    }.infoDialog p, .parkingButton{
        font-size: 1em;
    }
}
@media (max-width: 867px){
    .infoDialog h1{
        font-size: 1.5em;
    }.infoDialog p, .parkingButton{
        font-size: 0.7em;
    }
}
@media (max-width: 680px){
    .mainContent{
        display: block;
    }.backgroundImage{
        display: block;
    }.infoDialog{
        width: 100%;
        border-radius: 0px;
        padding: 0px;
        position: static;
    }.infoDialog *{
        margin: 0px;
        padding: 12px;
    }.infoDialog h1, .infoDialog p{
        padding: 18px;
    }footer{
        display: block;
    }.menuButton{
        display: flex;
        margin-right: 10px;
    }.navBar{
        margin: 0px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
    }.navBar.isActive{
        height: 25vh;
        opacity: 1;
    }.navOptions{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        gap: 0px;
    }.navOptions a{
        text-align: center;
        width: 100%;
    }.navOptions li{
        border-top: 1px solid rgb(54, 54, 54);
        display: flex;
        width: 95%;
    }.navOptions a:hover{
        background-color: rgba(25,23,49,255);
        color: rgba(60,162,218,255);
    }
}