.parkingMap{
    background-color: white;
    display: flex;
    justify-content: center;
}
.parkingBlock{
    width: 90%;
    margin: 0px;
}
.blockE{
    background-color: rgba(0, 0, 0, 0);
    width: 358px;
    height: 145px;
    position: absolute;
    right: 110px;
    top: 685px;
}
.blockE:hover{
    cursor: pointer;
}
.parking{
    color: black
}