.parkingMap{
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
}
.parkingBlock{
    width: 90%;
    margin: 0px;
}

.blocks{
    cursor: pointer;
    width: 25.3%;
    height: 9%;
    position: absolute;
    right: 8%;
    border: 9px solid black;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #d7f4c5;
}

.blocks.unavaileableBlock{
    background-color: #ea9c8d;
}


.blocks p{
    color: black;
    margin: 0px;
    font-size: 4em;
    font-weight: bold;
}
.blockF{
    top: 19.5%;
    background-color: #d7f4c5;
}.blockE{
    top: 29%;  
}.blockD{
    top: 38.5%;
}.blockC{
    top: 48%;
}.blockB{
    top: 57.7%;   
}.blockA{
    top: 67.2%;  
}.blockMoto{
    height: 12.4%;
    top: 78%; 
}
.parking{
    color: black
}

@media (max-width:680px){
    .blocks p{
        font-size: 2em;
    }
}@media (max-width:375px){
    .blocks p{
        font-size: 1.2em;
    }
}