.pqr{
    background-color: #f6f6f6;
    justify-content: center;
}
.puc{
    width: 1100px;
    margin: 0px;
}
.title{
    text-align: center;
    background-color: #f6f6f6;
    color: black;
    margin: 0px;
    padding: 20px;
}
.addButton{
    display: flex;
    width: 170px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.plus-svg{
    width: 20%;
    height: 20%;
}