.pqr{
    background-color: white;
    justify-content: center;
}
.puc{
    width: 1100px;
    margin: 0px;
}
.title{
    font-size: 40px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0px;
    margin-bottom: 10px;
    padding: 20px;
}
.addButton{
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    right: 80px;
    top: 97px;
    display: flex;
    width: 180px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #121023;
    border: none;
}
.addButton:hover{
    background-color: rgba(60,162,218,255);
}
.plus-svg{
    width: 25px;
    margin-right: 8px;
}
@media (max-width:680px){
    .addButton{
        position: relative;
        top: -10px;
        left: 10px;
    }
}